<p>Введите число</p>
<form action="<%= index_output_url%>">
   <input name="value" placeholder="1">
   <input type="submit">
</form>
<%= link_to "SignOut", session_logout_url %>
<%= link_to "AllUsers", users_url %>