<p style="color: green" id="notice"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <p>Username: <%=user.username%></p>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>

<br>

<%= link_to 'New User', new_user_path %>
